body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#remoteVideos video {
  height: 250px;
}

#localVideo {
  height: 250px;
}

#textbox {
  width: 40%;
  height: 200px;
  overflow: scroll;
}
