body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #gum-local {
  height: 250px;
} */

video {
  height: 200px;
  width: 200px;
  margin: 5px;
}

#textbox {
  height: 150px;
  overflow: scroll;
}

#all-videos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#ChatboxNavbar {
  width: 600px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px 0px 0px 0px;
  background-color: white;
}

#footer {
  bottom: 0;
}

/* .githubContainer {
  display: flex;
  flex-direction: row;
} */

.loading {
  padding-bottom: 200px;
}

.masthead {
  background-color: #5b9bfa !important;
}

.ui.text.container {
  padding-top: 6em;
  padding-bottom: 5em;
}

.inverted.header {
  font-size: 3em;
  color: #303030;
}

.header-alt {
  color: white;
}

.text-center {
  text-align: center;
}

.how-it-works-container {
  display: flex;
  flex-direction: row;
}

.how-it-works-image-singular {
  height: 120px;
}

/* .footer {
  position: absolute;
  bottom: 0;
} */
