.chatboxnav-container {
  position: absolute;
  z-index: 2;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Site-content {
  flex: 1 0 auto;
  padding: var(— space) var(— space) 0;
  width: 100%;
}
.Site-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var(— space);
  height: 0;
  visibility: hidden;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#navbar {
  margin-bottom: 0;
  background-color: #212121;
  border-radius: 0;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#left-flex {
  display: flex;
  flex-direction: row;
}

.left-flex-item {
  margin: auto;
  color: #309aab;
}

.nav-buttons-container {
  vertical-align: middle;
}

.nav-buttons {
  padding: .5em 0;
}

.nav-buttons:hover {
  color: #309aab !important;
}

.home-button:hover {
  border-bottom: 1px solid #595b5b;
  color: #309aabd9;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #gum-local {
  height: 250px;
} */

video {
  height: 200px;
  width: 200px;
  margin: 5px;
}

#textbox {
  height: 210px;
  overflow: hidden;
  width: 65%;
  padding-left: 2px;
}

#open-chat {
  background-color: #89898c;
}

#chatbox {
  background-color: black;
  display: flex;
  height: 210px;
}

#channel-box {
  overflow: hidden;
  height: 210px;
  width: 35%;
  padding-left: 5px;
}

.open-nav {
  display: flex;
  justify-content: space-between;
}

.channels {
  display: flex;
  width: 25%;
}

.channels-inner {
  font-weight: bold;
  justify-content: center;
}

#all-videos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#ChatboxNavbarClosed {
  width: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
}

#ChatboxNavbar {
  width: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.loading {
  padding-bottom: 200px;
}

.masthead {
  background-color: #309aab !important;
}

.ui.text.container.landing {
  padding-top: 6em;
  padding-bottom: 5em;
}

.about {
  padding: 3em;
}

.team {
  padding: 1em;
  margin: 2em;
}

.inverted.header {
  font-size: 3em;
  color: #303030;
}

.header-alt {
  color: white;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
  padding-left: 1em;
  color: #c0c4c9;
}

.how-it-works-container {
  display: flex;
  flex-direction: row;
  margin: 3em;
}

.how-it-works-singular {
  flex-grow: 1;
  text-align: center;
  /*background-color: #9B9BAB;*/
}

.how-it-works-text-singular {
  flex-grow: 3;
  background-color: white;
  margin: auto;
  padding: 1.5em;
  width: 10em;
  background-color: #f0f0f0;
}

.how-it-works-image-singular {
  height: 100px;
}

.subheading {
  color: #309aab;
}

#more-info-text {
  color: #5a5a5a;
}

.how-it-works-text {
  color: #303030;
}

.grey-text {
  color: #303030;
}

.blue-text {
  color: #309aab;
}

.logo {
  height: 60px;
  padding-right: 1em;
}

#footer {
  position: absolute;
  bottom: 0;
}

#all-proposals-more-info {
  color: #5a5a5a;
  background-color: #e0e1e2;
}

.single-proposal-header {
  padding-top: 1.5%;
}

.org-name {
  margin-top: 0;
}

#single-proposal-body {
  background-color: #f0f0f0;
  padding: 1em;
}

.single-proposal-description-header {
  margin-top: 0;
  font-size: 32px;
}

.singlePageImg {
  margin-right: 1em;
  float: left;
  height: 20em;
  width: 25em;
}

.org-info {
  margin-bottom: 0.25em;
}

.signup-count {
  float: right;
}

#project-signup-button {
  /*color: #e0e1e2;*/
  background-color: #5a5a5a;
}

.project-card {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.column-container {
  margin: 50px;
}

.add-project-textarea {
  width: 80%;
  text-align: center;
}

.projectBoard-headers-container {
  background-color: grey;
  padding-top: 2%;
  padding-bottom: 2%;
}

.project-title {
  padding-top: 2%;
  font-size: 46px;
}

.project-board-container {
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
}

.projectBoard-header {
  padding-top: 1%;
  margin-top: 1%;
}

.image-container {
  display: flex;
  justify-content: center;
}

.project-subtitle {
  padding: 1%;
  padding-bottom: 3%;
  letter-spacing: 1px;
  font-size: 16px;
}

.github-link {
  position: absolute;
}

.open-chat {
  justify-content: right;
}

.message {
  display: inline-block;
  padding: 0.1% 1% 0.1% 1%;
  border-radius: 10%;
}

.message-border {
  margin-bottom: 0.5%;
}

#inside-box {
  background-color: white;
  overflow: auto;
  height: 150px;
  padding: 10px 0 0 10px;
  border-radius: 5%;
  margin-top: 20px;
}
#inside-channel {
  overflow: auto;
  height: 180px;
  padding: 5px 0 0 0;
}

#setup-new-room {
  flex-grow: 0.1;
  align-self: auto;
}

.channel-list-head {
  color: white;
}

.vidchat-container {
  display: flex;
  justify-content: center;
}

.vidchat-children {
  display: flex;
  justify-content: center;
}

.live-channel-name {
  text-align: center;
}

.footer-design {
  height: 210px;
  display: flex;
  justify-content: center;
}

.inner-footer {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.secondary {
  display: flex;
  justify-content: center;
}

.inspirational-quote {
  font-style: italic;
}

.form-inputs {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.grid-style {
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 1%;
}

.org-home {
  margin-top: 5%;
}

.user-profile-headers-container {
  background-color: grey;
  padding-top: 2%;
  padding-bottom: 2%;
}

.no-active-projects {
  margin-bottom: 1em;
}

#user-profile-browse {
  color: #5a5a5a;
  background-color: #e0e1e2 !important;
}

#user-profile-title {
  margin-top: .5em;
}

#user-profile-projects-header {
  color: #309aab;
}

#user-profile-email {
  color: #309aab;
}

#user-profile-project-list {
  margin-bottom: 1em;
  font-size: 16px;
}



